/* calling an ID*/
/* IDs are never duplicated */
#main{
background-color: aqua;
width: 800px;
height: 1000px;
}

#heading{
    font-weight: bold;
    
}

/* change font */
#area1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#places{
    text-align: center;
    background-color: rgb(144, 207, 238);
}

.destination{
    color: brown;
}

.place1{
    font-style: italic;
}